.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-width: 320px;
}

.inputLabel {
    margin-bottom: 0.25rem;
}

.inputField {
    padding: 0.5rem;
}

.inputFieldError {
    padding: 0.5rem;
    border: 1px solid #e11d48;
}

.inputFieldErrorMessage {
    display: inline-block;
    margin: 0.25rem 0 0 0;
    color: #e11d48;
}